@font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    src: url(/assets/fonts/Sora/static/Sora-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(/assets/fonts/Sora/static/Sora-Regular.ttf) format('truetype');
  }
  
@font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: url(/assets/fonts/Sora/static/Sora-Bold.ttf) format('truetype');
 }
  
:root {
    --md-primary-fg-color:        #97124c;
    --md-primary-fg-color--light: #c51e55;
    --md-primary-fg-color--dark:  #6e0b40;
}

body {
    font-family: 'Sora', sans-serif;
}

.md-header__title,
.md-nav__title {
    font-weight: 600 !important;
}

.md-tabs__link {
    opacity: .8;
}

.md-tabs__link--active, 
.md-tabs__link:is(:focus,:hover) {
    opacity: 1;
}

.heading {
    font-weight: bold;
}

@keyframes heart {
    0%, 40%, 80%, 100% {
        transform: scale(1);
    }
    20%, 60% {
        transform: scale(1.15);
    }
}

.heart {
    animation: heart 1000ms infinite;
}

.support-link {
    text-align: center;
    align-self: center;
    flex: 0 1 auto;
    margin: 0 5px 0 15px;
}

.md-copyright {
    flex: 1;
    white-space: nowrap;
}

.policies-links {
    display: flex;
    font-size: .64rem;
    margin: auto 0 auto .6rem;
    gap: .5rem;
}

.md-header-nav__title {
    padding-left: 0;
}

.md-header__title {
    margin-left: .4rem;
    font-size: 1.1rem;
    transition: all .3s;
}

.md-header__button.md-logo :-webkit-any(img,svg) {
    height: 2.4rem;
    width: 2.4rem;
    transition: all .3s;
}

.md-content__button.md-icon {
    display: none;
}

.md-typeset__table {
    display: block;
}

.md-typeset table:not([class]) {
    display: table;
    min-width: 100%;
}

.md-announce {
    background-color: var(--md-primary-bg-color);
}

.md-footer-copyright {
    width: auto;
}

.md-footer {
    background-color: #16181d;
}

.blog-post-extra img {
    border-radius: 100%;
    height: 2rem;
}
    
.blog-post-extra {
    display: flex;
    font-size: .68rem;
}
    
.blog-post-extra p>span {
    display: block;
}
    
.blog-post-extra p:first-child {
    flex-shrink: 0;
    margin-right: .8rem;
}

.md-typeset .md-button {
    color: var(--md-primary-bg-color);
    border-color: var(--md-primary-bg-color);
}

.md-typeset .md-button:is(:focus,:hover) {
    background-color: var(--md-primary-bg-color);
    border-color: var(--md-primary-bg-color);
    color: var(--md-default-bg-color)
}

.md-typeset .md-button--primary {
    background-color: var(--md-primary-bg-color);
    color: var(--md-default-bg-color)
}

.md-source__facts {
    opacity: .8;
}

.showcase {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }

  .showcase-link {
    display: inline-block;
    margin: 10px;
  }

  .showcase-link img {
    width: 120px;
    transition: all .3s;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.3);
  }

  .showcase-link img:hover {
    box-shadow: 0 5px 25px rgba(0,0,0, 0.7);
  }

  @media screen and (min-width: 60em) {
    .showcase {
      padding: 2rem;
    }

    .showcase-link img {
      width: 200px;
    }
  }
