name: Build Website

on:
  push:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
        with:
            fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - run: npm install
      - run: node ./node_modules/roadmap-generator/index.js ./roadmap.conf.js ${{ secrets.PERSONAL_ACCESS_TOKEN }} -gs > ./docs/roadmap/milestones.md
      - run: curl https://raw.githubusercontent.com/repath-project/repath-studio/main/CHANGELOG.md > ./docs/roadmap/changelog.md
      - run: curl https://raw.githubusercontent.com/repath-project/repath-studio/main/CONTRIBUTING.md > ./docs/contribute/contributing.md
      - run: curl https://raw.githubusercontent.com/repath-project/repath-studio/main/CODE_OF_CONDUCT.md > ./docs/contribute/CODE_OF_CONDUCT.md
      - run: curl https://raw.githubusercontent.com/repath-project/repath-studio/main/CLA.md > ./docs/contribute/CLA.md
      - run: curl https://raw.githubusercontent.com/repath-project/repath-studio/main/SECURITY.md > ./docs/policies/security.md
      - run: pip install mkdocs-material=="9.6.20" "mkdocs-material[imaging]" mkdocs-glightbox mkdocs-git-revision-date-localized-plugin
      - run: mkdocs gh-deploy --clean --force
